html, body{
	margin:0;
	height:100%;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	background-color: #333333;
	color:#ffffff;
}


div{
	box-sizing:border-box;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}


a, a:visited, a:hover
{
	text-decoration: none;
}


#container
{
	width:100%;
	height:100%;
}
